*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}


header{
    width: 100vw;
    text-align: center;
    padding: 1vw;
    background-color:aqua;
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 0;
}

header button a{
text-decoration: none;
color: black;
width: 100%;
height: 100%;

}

button{
    cursor: pointer;
}

header div button{
 transition: all 0.5s ease;   
 background-color:chartreuse;
 padding: 5px 10px;
}

header div button:hover{
    transform: scale(1.1);
}

main{
    display: flex;
    place-content: center;
    flex-direction: column;
    width: 70vw;
    border-radius: 10px;
    height: 100vh;
    gap: 50px;
}

form{
    display: flex;
    flex-direction: column;
    place-self: center;
    padding: 5vw;
    gap: 20px;
    position: relative;
    left: 15vw;
    background-color: rgb(61, 61, 61);
    place-items: center;
    place-content: center;
    border-radius: 10px;
    color: white;
}

form button{
    padding: 15px 50px;
    text-align: center;
    color: white;
    background-color: rgb(17, 41, 177);

}

form input{
    place-self: center;
    padding: 5px 5px;
}

form label{
    display: flex;
    align-items: center;
    gap: 10px;
}

ul{
    display: flex;
    flex-direction: column;
}

main section{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    overflow-y: auto;
    padding: 1vw;
    place-items: center;
    place-content: end;
}

main section img{
    width: 8vw;
    height: 15vh;
    display: flex;
    place-self: center;
    border-radius: 20px;
    position: relative;
    bottom: 2vh;
    z-index: 2;
}

main section article{
    background-color: rgb(48, 46, 46);
    height: 40vh;
    width: 25vw;
    gap: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}

main section article p{
    font-size: 2vw;
    text-align: center;
    position: relative;
}

main section article h2{
    font-size: 2vw;
    text-align: center;
    color: white;
}

::-webkit-scrollbar{
    display: none;
}

article span{
    font-weight: bold;
    font-style: italic;
}

svg{
    color: red;
    cursor: pointer;
    width: 2vw;
    align-self: center;
    transition: all 0.3s ease;
    position: absolute;
    left: 22vw;
    bottom: 20vh;
    max-width: 100%;
    height: auto;
    display: flex;
    margin: auto;
}

svg:hover{
    transform: scale(1.3);
}

article div{
    background-color: rgb(92, 90, 90);
    height: 39%;
    color: rgb(255, 255, 255);
}

#Name{
    font-weight: bold;
    opacity: 0.5;
}

#Emailelement{
    background-color: blue;
    text-align: center;
    font-size: 20px;
    place-self: center;
    border-radius: 10px;
    color: white;
    padding: 5px;
    transition: all 0.3s ease;
}

#Emailelement:hover{
    transform: scale(1.1);
}

@media (min-width: 320px) and (max-width:480px) {


    main section{
        grid-template-columns: 1fr;
        place-content: center;
        gap: 20px;
    }
    main section article{
        height: 100%;
        width: 50%;
        place-self: center;
    }

    main section article p{
        font-size: 5vw;
    }

    main section article h2{
        font-size: 5vw;
    }

    svg{
        left: 44vw;
        width: 5vw;
        bottom: 18vh;
    }

    main section article img{
        width: 20vw;
    }

    #Emailelement{
        padding: 0px;
        font-size: 5vw;
    }
}

@media (min-width:481px) and (max-width: 820px) {
    main section{
        grid-template-columns: 1fr;
        place-content: center;
        gap: 20px;
    }
    
    main section article{
        height: 100%;
        width: 50%;
        place-self: center;
    }
    

     svg{
        left: 44vw;
        width: 5vw;
        bottom: 17vh;
    }

    main section article img{
        width: 20vw;
    }

}

#EraseAllusers{
    background-color: red;
}